<html>
<head>
	<title>Nessitron</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/nessitron.css">
  <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
</head>
<body>


  <div class="calbar">
    <a class="active" href="calendarDay"><button class="navButton" disabled>Week</button></a>
    <a href="calendarMonth"><button class="navButton">Month</button></a>
    <a href="calendarYear"><button class="navButton">Year</button></a>
  </div>
    <br>
  <div class="text-center">
    <img class="calendar" src="https://image.shutterstock.com/shutterstock/photos/391986790/display_1500/stock-vector-week-emotions-design-concept-391986790.jpg">
  </div>
		<br><br><br><br><br><br><br><br><br><br> <!-- This lets the nav bar not cover stuff  -->

  <div class="navbar">
		{{#each navbarButtons}}
			{{{aTag}}}{{{buttonTag}}}{{{icon}}}<br>{{label}}</button></a>
		{{/each}}
	</div>

</body>
</html>