<html>
<head>
	<title>Nessitron</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/nessitron.css">
</head>
<body>



<div class="navbar">
  <a  href="/">Add Emotion</a>
  <a class="active" href="calendar.html">Calendar</a>
  <a href="journal"><button class="navButton">Journal</button></a>
  <a href="settings"><button class="navButton">Settings</button></a>
</div>

<div class="calbar">
  <a  href="#">Day</a>
  <a class="active" href="#">Month</a>
  <a href="#">Year</a>
</div>
	<br>
<div class="text-center">
	<img class="calendar" src="https://i.ibb.co/LxmxtrJ/calendar.png">
</div>




</body>
</html>