<html>
<head>
	<title>Nessitron</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/nessitron.css">
  <link rel="stylesheet" href="/css/calendarMonth.css">
  <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
</head>
<body>



<div class="calbar">
  <a href="calendarDay"><button class="navButton">Week</button></a> <!--it was at this point he realized calendarDay would've been better as calendarWeek, but refactoring websites if for communists-->
  <a class="active" href="calendarMonth"><button class="navButton" disabled>Month</button></a>
  <a href="calendarYear"><button class="navButton">Year</button></a>
</div>
	<br><br><br>

	<!-- <img class="calendar" src="https://i.ibb.co/LxmxtrJ/calendar.png"> -->

  <div class="calendarBox calendarFormat">

    <div class="monthLabel">February</div>
      <span class="dayLabel">Su</span>
      <span class="dayLabel">Mo</span>
      <span class="dayLabel">Tu</span>
      <span class="dayLabel">We</span>
      <span class="dayLabel">Th</span>
      <span class="dayLabel">Fr</span>
      <span class="dayLabel">Sa</span>



<span class="dateBlank">31</span>
<span>1</span>
<span>2</span>
<span>3</span>
<span>4</span>
<span>5</span>
<span>6</span>
<span>7</span>
<span>8</span>
<span>9</span>
<span>10</span>
<span>11</span>
<span>12</span>
<span>13</span>
<span>14</span>
<span>15</span>
<span>16</span>
<span>17</span>
<span>18</span>
<span>19</span>
<span>20</span>
<span>21</span>
<span>22</span>
<span>23</span>
<span>24</span>
<span>25</span>
<span>26</span>
<span>27</span>
<span>28</span>
<span class="dateBlank">1</span>
<span class="dateBlank">2</span>
<span class="dateBlank">3</span>
<span class="dateBlank">4</span>
<span class="dateBlank">5</span>
<span class="dateBlank">6</span>
</div>
		<br><br><br><br><br><br><br><br><br><br> <!-- This lets the nav bar not cover stuff  -->

  <div class="navbar">
		{{#each navbarButtons}}
			{{{aTag}}}{{{buttonTag}}}{{{icon}}}<br>{{label}}</button></a>
		{{/each}}
	</div>
</body>
</html>