<html>
<head>
	<title>Nessitron</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

	{{!-- <link rel="stylesheet" href="/css/nessitron.css"> --}}
  <link rel="stylesheet" href="/css/calendarMonth.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/nessitron.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="/css/new_nessitron.css">
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


	<!-- <img class="calendar" src="https://i.ibb.co/LxmxtrJ/calendar.png"> -->
  <div class="container">

    <div class="calendarBox calendarFormat">

      <div class="monthLabel">March</div>
      <span class="dayLabel">Su</span>
      <span class="dayLabel">Mo</span>
      <span class="dayLabel">Tu</span>
      <span class="dayLabel">We</span>
      <span class="dayLabel">Th</span>
      <span class="dayLabel">Fr</span>
      <span class="dayLabel">Sa</span>

      <span class="dateBlank">31</span>
      <span class="dayNum">1</span>
      <span class="dayNum">2</span>
      <span class="dayNum">3</span>
      <span class="dayNum">4</span>
      <span class="dayNum">5</span>
      <span class="dayNum">6</span>
      <span class="dayNum">7</span>
      <span class="dayNum">8</span>
      <span class="dayNum" id="WOZ1">9</span>
      <span class="dayNum" id="WOZ2">10</span>
      <span class="dayNum" id="WOZ3">11</span>
      <span class="dayNum">12</span>
      <span class="dayNum">13</span>
      <span class="dayNum">14</span>
      <span class="dayNum">15</span>
      <span class="dayNum">16</span>
      <span class="dayNum">17</span>
      <span class="dayNum">18</span>
      <span class="dayNum">19</span>
      <span class="dayNum">20</span>
      <span class="dayNum">21</span>
      <span class="dayNum">22</span>
      <span class="dayNum">23</span>
      <span class="dayNum">24</span>
      <span class="dayNum">25</span>
      <span class="dayNum">26</span>
      <span class="dayNum">27</span>
      <span class="dayNum">28</span>
      <span class="dayNum">29</span>
      <span class="dayNum">30</span>
      <span class="dayNum">31</span>
      <span class="dateBlank">1</span>
      <span class="dateBlank">2</span>
      <span class="dateBlank">3</span>
    </div>
  </div>
		{{!-- <br><br><br><br><br><br><br><br><br><br> <!-- This lets the nav bar not cover stuff  --> --}}

  <div class="navbar">
		{{#each navbarButtons}}
			{{{aTag}}}{{{buttonTag}}}{{{icon}}}<br>{{label}}</button></a>
		{{/each}}
	</div>
</body>
</html>