<html>
<head>
	<title>Nessitron</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/nessitron.css">
</head>
<body>



<div class="navbar">
  <a  href="/"><button class="navButton">Add Emotion</button></a>
  <a class="active"><button class="navButton" disabled>Calendar</button></a>
  <a href="journal"><button class="navButton">Journal</button></a>
  <a href="settings"><button class="navButton">Settings</button></a>
</div>

<div class="calbar">
  <a class="active" href="calendarDay"><button class="navButton" disabled>Week</button></a>
  <a href="calendarMonth"><button class="navButton">Month</button></a>
  <a href="calendarYear"><button class="navButton">Year</button></a>
</div>
	<br>
<div class="text-center">
	<img class="calendar" src="https://image.shutterstock.com/shutterstock/photos/391986790/display_1500/stock-vector-week-emotions-design-concept-391986790.jpg">
</div>




</body>
</html>