<html>
<head>
	<title>Nessitron account created</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/new_nessitron.css">
</head>
<body>
<div class="container">
	<h1>Signup successful, welcome to Nessitron.</h1>
	You will be redirected to the home page in a few seconds, or <a href="home">click here</a>.
</div>

<meta http-equiv="Refresh" content="5; url='./home'" />

</body>
</html>
