<html>
<head>
	<title>Nessitron</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/nessitron.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/nessitron.css">
</head>
<body>
<div class="navbar">
  <a class="active"><button class="navButton" disabled>Add Emotion</button></a>
  <a href="calendarMonth"><button class="navButton">Calendar</button></a>
  <a href="journal"><button class="navButton">Journal</button></a>
  <a href="settings"><button class="navButton">Settings</button></a>
</div>
	<br>
	<h1>Disgust</h1><br><br>
	<div class="text-center emotionsBox"> <!--using 2 divs for 3 classes is the most I've ever seen someone brandish their imposter syndrome please sort this out-->
		<div class="list-group">
			<!-- THIS SHOULDN'T GO TO CALENDAR IT SHOULD GO TO THE SAVE/JOURNAL/DISCARD SCREEN but that can be sorted out another time -->
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Dislike</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Revulsion</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Loathing</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Disapproving</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Offended</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Horrified</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Uncomfortable</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Nauseated</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Disturbed</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Withdrawal</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Aversion</button></a>
		</div>
	</div>
</body>
</html>