<html>
<head>
	<title>Nessitron</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/nessitron.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/nessitron.css">
	<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="enjoyment">
	<br>
		<br>
		<br>
		<br>
		<br>
	<h1>Enjoyment</h1><br><br> <br>
	<div class="text-center emotionsBox"> <!--using 2 divs for 3 classes is the most I've ever seen someone brandish their imposter syndrome please sort this out-->
		<div class="list-group">
			<!-- THIS SHOULDN'T GO TO CALENDAR IT SHOULD GO TO THE SAVE/JOURNAL/DISCARD SCREEN but that can be sorted out another time -->
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Happiness</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Love</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Relief</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Contentment</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Amusement</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Joy</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Excitement</button></a>
			{{!-- <a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Peace</button></a> --}}
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Satisfaction</button></a>
			{{!-- <a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Compassion</button></a> --}}
		</div>
	</div>
		<br><br><br><br><br><br><br><br><br><br> <!-- This lets the nav bar not cover stuff  -->
	
	<div class="navbar">
		{{#each navbarButtons}}
			{{{aTag}}}{{{buttonTag}}}{{{icon}}}<br>{{label}}</button></a>
		{{/each}}
	</div>
	
</body>
</html>