<!-- get rid of year, either do week/month or day/week/month
create fake login
custom emotion

-->
<html>
<head>
	<title>Nessitron</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/nessitron.css">
</head>
<body>



<div class="navbar">
  <a class="active"><button class="navButton" disabled>Add Emotion</button></a>
  <a href="calendarMonth"><button class="navButton">Calendar</button></a>
  <a href="journal"><button class="navButton">Journal</button></a>
  <a href="settings"><button class="navButton">Settings</button></a>
</div>
	<br>
	<h1>How are you feeling?</h1>


	<div class="text-center emotionsBox">
	<div class="list-group">
		<a href="enjoyment" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotion" id="enjoyment">Enjoyment</button></a>
		<a href="sadness" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotion" id="sadness">Sadness</button></a>
		<a href="fear" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotion" id="fear">Fear</button></a>
		<a href="anger" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotion" id="anger">Anger</button></a>
		<a href="disgust" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotion" id="disgust">Disgust</button></a>
	</div>
	</div>

</body>
</html>