<html>
<head>
	<title>Nessitron</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/new_nessitron.css">
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>

<div class="container">
	<div class="my-auto text-center">
			<h1>Welcome to Nessitron</h1>
			<div class="list-group" "text-center">
				<form class="login-form" action="auth">
					<label for="uname">Username:</label>
					<input type="text" id="uname" name="uname"><br>
					<label for="pword">Password: </label>
					<input type="password" id="pword" name="pword"><br>
					<div id="badLogin"><p style="color:red">{{loginMessage}}</p></div>
					<input type="submit" value="Login">
				</form>
				<h2><a href="newAccount">Click here to create a new account.</a></h2>
		</div>
	</div>
</div>

</body>
</html>