<!-- get rid of year, either do week/month or day/week/month
create fake login
custom emotion

-->
<html>
<head>
	<title>Nessitron</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/nessitron.css">
</head>
<body>



<div class="my-auto text-center">
  <h1>Welcome to Nessitron</h1>
  <div class="list-group" "text-center">
	  Username: <br>
	  Password: 
	  <a href="/" class="nostyle"><button type="button" class="list-group-item">login</button></a>
  </div>
</div>

</body>
</html>