<html>
<head>
	<title>Nessitron</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/nessitron.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/nessitron.css">
	<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sadness">
	<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	<h1>Sadness</h1><br> <br> <br>
	<div class="emotionsBox"> <!--using 2 divs for 3 classes is the most I've ever seen someone brandish their imposter syndrome please sort this out-->
		<div class="list-group">
			<!-- THIS SHOULDN'T GO TO CALENDAR IT SHOULD GO TO THE SAVE/JOURNAL/DISCARD SCREEN but that can be sorted out another time -->
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Lonely</button></a>
			{{!-- <a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Heartbroken</button></a> --}}
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Gloomy</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Disappointed</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Hopeless</button></a>
			{{!-- <a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Grieved</button></a> --}}
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Unhappy</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Lost</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Troubled</button></a>
			<a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Resigned</button></a>
			{{!-- <a href="savejournaldiscard" class="nostyle"><button type="button" class="list-group-item list-group-item-action btn-block emotionListItem">Miserable</button></a> --}}
		</div>
	</div>
		<br><br><br><br><br><br><br><br><br><br> <!-- This lets the nav bar not cover stuff  -->

	<div class="navbar">
		{{#each navbarButtons}}
			{{{aTag}}}{{{buttonTag}}}{{{icon}}}<br>{{label}}</button></a>
		{{/each}}
	</div>
	
</body>
</html>