<html>
<head>
	<title>Nessitron</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/nessitron.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/nessitron.css">
	

</head>
<body>
<div class="navbar">
  <a class="active"><button class="navButton" disabled>Add Emotion</button></a>
  <a href="calendarMonth"><button class="navButton">Calendar</button></a>
  <a href="journal"><button class="navButton">Journal</button></a>
  <a href="settings"><button class="navButton">Settings</button></a>
</div>
	<br>
	<h1 class="usersEmotion">Error</h1>
	<h3>Date of Entry: <span id="date">load error</span></h3>
	<h3>Time of Entry: <span id="time">load error</span></h3>
<textarea placeholder="Journal about your feelings here if you'd like." cols="50" rows="10" id="journalEntryBox">
</textarea>


<div class="saveordiscard">
  <a href="calendarMonth" id="saveButton"><button class="navButton saveordiscardbutton" >Save</button></a> 
  <a href="calendarMonth" ><button class="navButton saveordiscardbutton">Discard</button></a>
</div>
<script>
var today = new Date();
var date = (today.getMonth()+1)+'-'+today.getDate();
var minutes = today.getMinutes();
if (minutes<10){
	minutes = "0" + minutes;
}
if (today.getHours()>12){
	var temp = today.getHours()%12;
	var time = temp + " : " + minutes + " PM"
}
else{
	var time = today.getHours() + ":" + minutes + " AM";
}
document.getElementById("date").innerHTML = date;
document.getElementById("time").innerHTML = time;
</script>
</body>
</html>