<html>
<head>
	<title>Nessitron</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/nessitron.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
	<link rel="stylesheet" href="/css/new_nessitron.css">
	<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
	<div class="container">
		<h1 class="usersEmotion">Error</h1>
		<h3>Date of Entry: <span id="date">load error</span></h3>
		<h3>Time of Entry: <span id="time">load error</span></h3>
			<div class="wrapper">
				<textarea placeholder="Journal about your feelings here if you'd like." cols="38" rows="10" id="journalEntryBox"></textarea>
				<div class="saveordiscard">
					{{!-- <a href="journal"><button class="navButton saveordiscardbutton" id="saveButton">Save</button></a>
					<a href="home"><button class="navButton saveordiscardbutton" id="discardButton">Discard</button></a> --}}
					<a href="journal" id="saveButton"><button class="navButton saveordiscardbutton" >Save</button></a> 
					<a href="home" id="discardButton"><button class="navButton saveordiscardbutton">Discard</button></a>
				</div>				
			</div>
	</div>
		{{!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br> <!-- This lets the nav bar not cover stuff  --> --}}

	<div class="navbar">
		{{#each navbarButtons}}
			{{{aTag}}}{{{buttonTag}}}{{{icon}}}<br>{{label}}</button></a>
		{{/each}}
	</div>
<body>
	
<script>
var today = new Date();
var date = (today.getMonth()+1)+'-'+today.getDate();
var minutes = today.getMinutes();
if (minutes<10){
	minutes = "0" + minutes;
}
if (today.getHours()>12){
	var temp = today.getHours()%12;
	var time = temp + ":" + minutes + " PM"
}
else{
	var time = today.getHours() + ":" + minutes + " AM";
}
document.getElementById("date").innerHTML = date;
document.getElementById("time").innerHTML = time;
</script>
</body>
</html>