<html>
<head>
	<title>Nessitron</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/nessitron.css">
</head>
<body>



<div class="navbar">
  <a href="/"><button class="navButton">Add Emotion</button></a>
  <a href="calendar"><button class="navButton">Calendar</button></a>
  <a href="journal"><button class="navButton">Journal</button></a>
  <a class="active" href="#"><button class="navButton" disabled>Settings</button></a>
</div>

<h1>Settings</h1>


</body>
</html>