/* TODO: CSS that looks like a sober person was responsible 
: get the emotion buttons under how are you feeling to show up more centered if dealing with mobile screen sizes*/

@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);
body{
  background-color: #E8CEBF;
  /* font-family: 'Courier New', monospace; */
  font-family: Arial, sans-serif;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.navbar {
  background-color: #555;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* font-family: "Roboto"; */
  border: none;
}
.navbar a {
  float: left;
  display: block;
  padding: 12px;
  /* padding: 14px 16px; */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  width: 25%; 
  border-left: 1px solid black;
  /* Green border */
}
.navbar a:hover {
  background-color: #696969;
}
.navbar a.active {
  /*background-color: 	#2F4F4F;*/
  /*background-color: #242526;*/
  background-color: #808080;
}
.navButton{
  background:none;
  border:none;
  margin: 0;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.logoutButton{
  /* font-family: "Roboto"; */
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 60px;
  /* border-radius: 6px; */
  margin: 18px;
  /* border: 2px solid #E8CEBF; */
  /* border-radius: 50px; */
  width: 100%
}

.settingsBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emotion {
  /* font-family: "Roboto"; */
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 100px;
  /* border-radius: 6px; */
  margin: 18px;
  /* border: 2px solid #E8CEBF; */
  /* border-radius: 50px; */
  width: 100%
}
.emotionsBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 1200px;
  overflow: hidden;
  overflow-y: scroll;
}

.emotionListItem {
  /* font-family: "Roboto"; */
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 90px;
  border-radius: 6px;
  background-color: #f8f1ec;
}

/*If less than 500 pixel width, mush nav into open faced drop down menu */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; 
  }
}

h1  {
  text-align: center;
  font-size: 100px;
}
h3  {
  text-align: center;
}

h2.page {
  text-align: left;
  margin-left: 10px;
  font-size: 50px;
}


/* MIGHT BE EASIER TO JUST HAVE ALL THE COLORS THROUGH A CSS CLASS */
#enjoyment, .enjoyment{
  background-color: #85BAA1;
}
#sadness, .sadness{
  background-color: #98C1D9;
}
#fear, .fear{
  background-color: #E0FBFC;
}
#anger, .anger{
  background-color: #EE6C4D;
}
#disgust, .disgust{
  background-color: #DBF4A7;
}

#enjoyment:hover{
  /*background-color: #9DC183;*/
  /* border: 2px solid black; */
  border-radius: 6px;
  background-color: #639b81;
  
}
#sadness:hover{
  /* border: 2px solid black; */
  border-radius: 6px;
  background-color: #81adc6;
	/*background-color: #CD5C5C;*/
}
#fear:hover{
  /* border: 2px solid black; */
  border-radius: 6px;
  background-color: #c8e3e4;
	/*background-color: #F8E473;*/
}
#anger:hover{
  /* border: 2px solid black; */
  border-radius: 6px;
  background-color: #d76042;
	/*background-color: #598BAF;*/
}
#disgust:hover{
  /* border: 2px solid black; */
  border-radius: 6px;
  background-color: #cbe399;
	/*background-color: #9966CB;*/
}

/* TODO: change background color of each page to be color of emotion */
/* .enjoyment {
  background-color: #85BAA1;
} */

form.login-form {
  font-size: 80px;
}

.calendar {
  height: 75%;
	width: 100%;
}
.calbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  
  /* font-family: "Roboto"; */
}
.calbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 33.33%; 
  text-align: center; 
}
.calbar a {
  border: 10px solid #E8CEBF;
}
.calbar a:hover {
  background-color: #696969;
}

.calbar a.active {
  /*background-color: 	#2F4F4F;*/
  background-color: #808080;
}
textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  font-size: 40px;
}

.saveordiscard a{
  border: 10px solid #E8CEBF;
}
.saveordiscard {
  /* width: 100%; */
  background-color: #555;
  /* overflow: none; */
  text-align: center;

  /* font-family: "Roboto"; */
  /* font-family: "Open Sans"; */
  position:absolute;
  left: 10%;
  bottom:20%;
  width:80%;
}
.saveordiscard a {
  float: left;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 50%; 
  text-align: center; 
}
.saveordiscard a:hover {
  background-color: #696969;
}
.saveordiscard a.active {
  /*background-color:   #2F4F4F;*/
  background-color: #808080;
}