/* TODO: CSS that looks like a sober person was responsible 
: get the emotion buttons under how are you feeling to show up more centered if dealing with mobile screen sizes*/

@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);
body{
  background-color: #E8CEBF;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;

  font-family: "Roboto";
  border: none;
}

.emotion {
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 30px;
  border-radius: 6px;
}
.emotionListItem {
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 30px;
  border-radius: 6px;
  background-color: #f8f1ec;
}
.emotionsBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; 
  text-align: center; 
}


.navbar a:hover {
  background-color: #696969;
}


.navbar a.active {
  /*background-color: 	#2F4F4F;*/
  /*background-color: #242526;*/
  background-color: #808080;
}

/*If less than 500 pixel width, mush nav into open faced drop down menu */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; 
  }
}
.calbar {
  width: 100%;
  background-color: #555;
  overflow: auto;

  font-family: "Roboto";
}
.calbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 33.33%; 
  text-align: center; 
}


.calbar a:hover {
  background-color: #696969;
}

.calbar a.active {
  /*background-color: 	#2F4F4F;*/
  background-color: #808080;
}
.saveordiscard {
  width: 100%;
  background-color: #555;
  overflow: auto;

  font-family: "Roboto";
  position:absolute;
   bottom:.5%;
   width:100%;
}
.saveordiscard a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 50%; 
  text-align: center; 
}


.saveordiscard a:hover {
  background-color: #696969;
}

.saveordiscard a.active {
  /*background-color:   #2F4F4F;*/
  background-color: #808080;
}

h1  {
	text-align: center;
}
h3  {
  text-align: center;
}

.emotion {
  border: 2px solid #E8CEBF;
  border-radius: 6px;
}

/* MIGHT BE EASIER TO JUST HAVE ALL THE COLORS THROUGH A CSS CLASS */
#enjoyment{
  background-color: #85BAA1;
}
#sadness{
  background-color: #98C1D9;
}
#fear{
  background-color: #E0FBFC;
}
#anger{
  background-color: #EE6C4D;
}
#disgust{
  background-color: #DBF4A7;
}

#enjoyment:hover{
	/*background-color: #9DC183;*/
  /* border: 2px solid black; */
  border-radius: 6px;
  background-color: #639b81;

}
#sadness:hover{
  /* border: 2px solid black; */
  border-radius: 6px;
  background-color: #81adc6;
	/*background-color: #CD5C5C;*/
}
#fear:hover{
  /* border: 2px solid black; */
  border-radius: 6px;
  background-color: #c8e3e4;
	/*background-color: #F8E473;*/
}
#anger:hover{
  /* border: 2px solid black; */
  border-radius: 6px;
  background-color: #d76042;
	/*background-color: #598BAF;*/
}
#disgust:hover{
  /* border: 2px solid black; */
  border-radius: 6px;
  background-color: #cbe399;
	/*background-color: #9966CB;*/
}

/* TODO: change background color of each page to be color of emotion */
/* .enjoyment {
  background-color: #85BAA1;
} */

.calendar {
	height: 75%;
	width: 100%;
}
.navButton{
	background:none;
    border:none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: white;
}

.navbar a{
  border: 10px solid #E8CEBF;

}
.saveordiscard a{
  border: 10px solid #E8CEBF;
}
.calbar a{
  border: 10px solid #E8CEBF;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}