@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);
body{
  background: #d2d2d2;
  background: linear-gradient(to bottom right, #aecbff, #df7474);

  font-family: 'Nunito';
}
/* TODO: do we need this? */
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

h1 {
  padding-top: 5%;
  padding-bottom: 2.5%;
  font-size: 45px;
  text-align: center;
  font-family: 'Nunito';
}


/* LOGIN PAGE */
.login {
  padding-top: 35%;
}
.login-form {
  padding-top: 5%;
  padding-bottom: 0%;
}
.login-form input, .signupbtn {
  border-radius: 10px;
  border: none;
}
/* .login-form input text  */
.login-section {
text-align: center;
  padding: 1% 10%;
  /* padding-right: 10%; */
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 2%;
}
.signinbtn, .signupbtn {
  padding: 1.5% 20%;
  margin-bottom: 0%;
}
.signinbtn {
  background-color: rgb(74, 74, 238);
  color: white;
}
.createbtn {
  margin-top: 5%;
  width: 50%;
}

/* HOMESCREEN PAGE */
.emotionsBox {
  margin: auto;
  border: none;
}
.emotion, .emotionListItem {
  background: none;
  color: black;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
  width: 70%;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.emotion#enjoyment {
  /* color: #85BAA1; */
  background-color: #85BAA1;
  border: 3px solid #85BAA1;
}
.emotion#sadness {
  background-color: #5bb3e6;
  border: 3px solid #5bb3e6;
}
.emotion#fear {
  background-color: #E0FBFC;
  background-color: #E0FBFC;
  /* border: 3px solid #E0FBFC; */
}
.emotion#anger {
  background-color: #EE6C4D;
  border: 3px solid #EE6C4D;
}
.emotion#disgust {
  background-color: #DBF4A7;
  border: 3px solid #DBF4A7;
}
.emotionListItem {
  background-color: white;
}
.emotionListItemBox {
  width: 75%;
  height: 60%;
  overflow-y: scroll;
}


/* NAVBAR */
.navbar {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 7.5%;
  width: 85%;
  border-radius: 30px;
  border: none;
  margin-bottom: 5%;
}
.navbar a {
  float: left;
  display: block;
  color: linear-gradient(to bottom right, #aecbff, #df7474);
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  font-family: 'Nunito';
}
.navButton {
  background: none;
  border: none;
  margin: 0;
  padding: 7px;
  font-size: 10px;
  cursor: pointer;
  color: black;
}
.navbar a.active {
  background-color: rgb(228, 224, 224);
}


/* ENTER JOURNAL */
h3 {
  text-align: center;
  font-size: 15px;
  font-family: 'Nunito';
  padding-bottom: 1%;
  margin: 0%;

}
.wrapper {
  padding-top: 5%;
  text-align: center;
  margin: auto;
}
textarea {
  border-radius: 7.5px;
  margin: auto;
}
#savebutton button,
#discardbutton button {
  color: black;
  background-color: white;
  border-radius: 7.5px;
  margin: 2%;
  font-size: 15px;
  width: 10%;
  opacity: 60%;
}


/* JOURNAL */
#userFeeling, #userJournal {
  font-family: 'Nunito';
}
.journalsBox {
  margin: auto;
  border: none;
}
.journalListItemBox {
  width: 90%;
  /* TODO */
  height: 50%; 
  overflow-y: scroll;
}
.journalentry {
  border-radius: 5px;
}


/* SETTINGS */
.settingsBox {
  margin: auto;
  border: none;
}
.logoutButton {
  text-align: center;
  border-radius: 10px;
  border: none;
}


@media screen and (max-height: 600px) {
  h1 {
    padding-top: 2%;
    font-size: 30px;
  }
  .navbar {
    margin-bottom: 0%;
    width: 90%;
    left: 5%;
    min-height: auto;
    
  }
  .navButton {
    font-size: 5px;
  }
  .emotion,
  .emotionListItem {
    margin-top: 15px;
  }
  .wrapper {
    padding-top: 20%;
    text-align: center;
    margin: auto;
  }
  #savebutton button,
  #discardbutton button {
    margin: 5%;
    font-size: 15px;
    width: 25%;
    opacity: 60%;
  }
  .journalListItemBox {
    height: 67%;
  }
}

@media screen and (max-height: 800px) {
  h1 {
    padding-top: 7%;
    font-size: 40px;
  }
  .navbar {
    margin-bottom: 7.5%;
  }
  .wrapper {
    padding-top: 10%;
    text-align: center;
    margin: auto;
  }
  #savebutton button,
  #discardbutton button {
    margin-top: 10%;
    font-size: 15px;
    width: 30%;
    opacity: 60%;
  }
  .journalListItemBox {
    height: 68%;
  }
}